/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


/*----------------------------- GENERAL STYLING ------------------------------*/
body {
  background-color: #c6d5c8;
  font-family: "Roboto", Times, Helvetica;
}
/*----------------------------- NAV STYLING------------------------------*/

h2, h3 {
  text-align: center;
}
.navMenu {
  border-bottom: 5px solid black;
  background-color: #3f3120;
  color: rgb(233, 181, 118);
}

.sitePage:hover {
  background-color: #59442d;
  color: rgb(233, 181, 118);

  border-left: 5px solid black;
  border-right: 5px solid black;
  cursor: pointer;
}
/*------------------------------ CAGED OPTIONS STYLING -------------------------------*/
.options {
  margin: 25px;
}
.select {
  margin-top: 10px;
}

/*------------------------------ FRETBOARD STYLING -------------------------------*/

#sliderBar {
  margin-top: -55px;
  margin-bottom: 40px;
  top: 10px;
  left: 6%;
  width: 93%;
}

.fretboardContainer {
  margin:15px;
  padding: 17px 20px 0 0;
  background-color: #59442D;
  display:inline-block;
  /*max-width: 1200px;*/
  /*align-self: center;*/
}
.strings {
  border-top: 3px solid #b59b4f;
  /*width: 100%;*/
  height: 20px;
    z-index: 1000;
}

.fretRow {
  /*display: flex;
  text-align: justify;
  justify-content: space-between;*/
  margin-top: -13px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.marker {
  // background-image: url("../img/greencircle.svg");
  // background-repeat: no-repeat;
  // background-image-size: 16px;
  // background-position: right;
  // height: 16px;
  // min-width: 16px;

}
.fret {
  /*margin-bottom: -50%;*/
  display: inline-block;
  border-right: 3px solid #c1c1c1;
  min-width: 19px;
  padding-top: 4px;
  z-index: -1;
  text-align: right;
}
.preFret {
  display: inline-block;
  overflow: none;
}
//should I be linking .sass from html file instead of .css
$zero-fret: 30px;
$used-length: 0%;
.fretNum0 {
  width: $zero-fret;
}

@for $i from 1 through 14 {  //also need that #15
    $new-length: (160% - $used-length) / 18;

    .fretNum#{$i} {
        width: $new-length;



    }
    $used-length: $used-length + $new-length;

}

.borderString{
  /*same height as tr*/
  height: 18px;
  border-top: 2px, solid #bdc19d;
  margin-right: -3px;
}
.fretNum0 {
  border-right: 9px solid #e0e2c9;
}

/*------------------------------ BUTTON STYLING ------------------------------*/

nav ul {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: center;
}

form {display: inline-block;}

.buttons {
  align-content: center;
  text-align: center;
}

.customBtn {
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  margin: 4px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Roboto", Arial;
  font-size:13px;
  padding:3px 7px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  margin-top: 10px;
}

.customBtn:hover {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}

.customBtn:active {
  position:relative;
  top:1px;
}
/*--------------------------------- SLIDER STYLE -----------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
  border-radius: 2px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}


form {display: inline-block;}

.buttons {
  align-content: center;
  text-align: center;
}
