/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*----------------------------- GENERAL STYLING ------------------------------*/
/* line 10, ../sass/screen.scss */
body {
  background-color: #c6d5c8;
  font-family: "Roboto", Times, Helvetica;
}

/*----------------------------- NAV STYLING------------------------------*/
/* line 16, ../sass/screen.scss */
h3 {
  text-align: center;
}

/* line 19, ../sass/screen.scss */
.navMenu {
  border-bottom: 5px solid black;
  background-color: #3f3120;
  color: #e9b576;
}

/* line 25, ../sass/screen.scss */
.sitePage:hover {
  background-color: #59442d;
  color: #e9b576;
  border-left: 5px solid black;
  border-right: 5px solid black;
  cursor: pointer;
}

/*------------------------------ CAGED OPTIONS STYLING -------------------------------*/
/* line 34, ../sass/screen.scss */
.cagedOptions {
  margin: 25px;
}

/*------------------------------ FRETBOARD STYLING -------------------------------*/
/* line 40, ../sass/screen.scss */
.fretboardContainer {
  margin: 15px;
  padding: 17px 20px 0 0;
  background-color: #59442D;
  display: inline-block;
  /*max-width: 1200px;*/
  /*align-self: center;*/
}

/* line 48, ../sass/screen.scss */
.strings {
  border-top: 3px solid #b59b4f;
  /*width: 100%;*/
  height: 20px;
  z-index: 1000;
}

/* line 55, ../sass/screen.scss */
.fretRow {
  /*display: flex;
  text-align: justify;
  justify-content: space-between;*/
  margin-top: -13px;
  margin-bottom: 10px;
}

/* line 71, ../sass/screen.scss */
.fret {
  /*margin-bottom: -50%;*/
  display: inline-block;
  border-right: 3px solid #c1c1c1;
  min-width: 19px;
  padding-top: 4px;
  z-index: -1;
  text-align: right;
}

/* line 84, ../sass/screen.scss */
.fretNum0 {
  width: 30px;
}

/* line 91, ../sass/screen.scss */
.fretNum1 {
  width: 8.88889%;
}

/* line 91, ../sass/screen.scss */
.fretNum2 {
  width: 8.39506%;
}

/* line 91, ../sass/screen.scss */
.fretNum3 {
  width: 7.92867%;
}

/* line 91, ../sass/screen.scss */
.fretNum4 {
  width: 7.48819%;
}

/* line 91, ../sass/screen.scss */
.fretNum5 {
  width: 7.07218%;
}

/* line 91, ../sass/screen.scss */
.fretNum6 {
  width: 6.67928%;
}

/* line 91, ../sass/screen.scss */
.fretNum7 {
  width: 6.30821%;
}

/* line 91, ../sass/screen.scss */
.fretNum8 {
  width: 5.95775%;
}

/* line 91, ../sass/screen.scss */
.fretNum9 {
  width: 5.62677%;
}

/* line 91, ../sass/screen.scss */
.fretNum10 {
  width: 5.31417%;
}

/* line 91, ../sass/screen.scss */
.fretNum11 {
  width: 5.01894%;
}

/* line 91, ../sass/screen.scss */
.fretNum12 {
  width: 4.74011%;
}

/* line 91, ../sass/screen.scss */
.fretNum13 {
  width: 4.47677%;
}

/* line 91, ../sass/screen.scss */
.fretNum14 {
  width: 4.22806%;
}

/* line 91, ../sass/screen.scss */
.fretNum15 {
  width: 3.99317%;
}

/* line 91, ../sass/screen.scss */
.fretNum16 {
  width: 3.77132%;
}

/* line 101, ../sass/screen.scss */
.borderString {
  /*same height as tr*/
  height: 18px;
  border-top: 2px, solid #bdc19d;
  margin-right: -3px;
}

/* line 107, ../sass/screen.scss */
.fretNum0 {
  border-right: 9px solid #e0e2c9;
}

/*------------------------------ BUTTON STYLING ------------------------------*/
/* line 113, ../sass/screen.scss */
nav ul {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: center;
}

/* line 120, ../sass/screen.scss */
form {
  display: inline-block;
}

/* line 122, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}

/* line 127, ../sass/screen.scss */
button {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color: #768d87;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

/* line 146, ../sass/screen.scss */
button:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color: #6c7c7c;
}

/* line 152, ../sass/screen.scss */
button:active {
  position: relative;
  top: 1px;
}

/*--------------------------------- SLIDER STYLE -----------------------------*/
/* line 157, ../sass/screen.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
/* line 165, ../sass/screen.scss */
.switch input {
  display: none;
}

/* The slider */
/* line 168, ../sass/screen.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 180, ../sass/screen.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 192, ../sass/screen.scss */
input:checked + .slider {
  background-color: #2196F3;
}

/* line 196, ../sass/screen.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* line 202, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}
