/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/*----------------------------- GENERAL STYLING ------------------------------*/
/* line 26, ../sass/screen.scss */
body {
  background-color: #c6d5c8;
  font-family: "Roboto", Times, Helvetica;
  letter-spacing: 1px;
}

/* line 31, ../sass/screen.scss */
ul {
  list-style: none;
}

/*----------------------------- NAV STYLING------------------------------*/
/* line 36, ../sass/screen.scss */
h2 {
  font-size: 17pt;
  margin-bottom: 10px;
}

/* line 40, ../sass/screen.scss */
h4 {
  font-size: 13pt;
  margin-bottom: 5px;
}

/* line 44, ../sass/screen.scss */
.sitePage > h2 {
  text-align: center;
  margin-top: 10px;
}

/* line 48, ../sass/screen.scss */
.navMenu {
  border-bottom: 6px solid black;
  background-color: #3f3120;
  color: #e9b576;
}

/* line 55, ../sass/screen.scss */
.sitePage:hover {
  background-color: #69442d;
  color: #e9b576;
  border-left: 6px solid black;
  border-right: 6px solid black;
  cursor: pointer;
  text-align: center;
}

/* line 64, ../sass/screen.scss */
.sitePage {
  margin-right: -2px;
  margin-left: -2px;
}

/* line 68, ../sass/screen.scss */
#siteName > h2 {
  font-weight: 700;
  font-size: 18pt;
  margin: 9px;
  letter-spacing: 2px;
}

/* line 75, ../sass/screen.scss */
#siteName {
  border-right: solid black 6px;
  margin-right: -4px;
  background-color: #69442d;
}

/*------------------------------ CAGED OPTIONS STYLING -------------------------------*/
/* line 83, ../sass/screen.scss */
.options {
  margin: 25px;
}

/* line 86, ../sass/screen.scss */
.select {
  margin-top: 10px;
}

/* line 89, ../sass/screen.scss */
.markerMap {
  display: inline-block;
}

/* line 92, ../sass/screen.scss */
.map {
  font-size: 1.2em;
}

/* line 95, ../sass/screen.scss */
td {
  text-align: center;
  vertical-align: text-top;
}

/*------------------------------ FRETBOARD STYLING -------------------------------*/
/* line 101, ../sass/screen.scss */
#nonlinear {
  margin-top: -55px;
  margin-bottom: 40px;
  top: 10px;
  left: 6%;
  width: 91%;
}

/* line 109, ../sass/screen.scss */
.fretboardContainer {
  margin: 15px;
  padding: 17px 20px 0 0;
  background-color: #59442D;
  display: inline-block;
  /*max-width: 1200px;*/
  /*align-self: center;*/
}

/* line 117, ../sass/screen.scss */
.strings {
  border-top: 3px solid #b59b4f;
  /*width: 100%;*/
  height: 20px;
  z-index: 1000;
}

/* line 124, ../sass/screen.scss */
.fretRow {
  /*display: flex;
  text-align: justify;
  justify-content: space-between;*/
  margin-top: -13px;
  margin-bottom: 10px;
  white-space: nowrap;
}

/* line 141, ../sass/screen.scss */
.fret {
  /*margin-bottom: -50%;*/
  display: inline-block;
  border-right: 3px solid #c1c1c1;
  min-width: 19px;
  padding-top: 4px;
  z-index: -1;
  text-align: right;
}

/* line 150, ../sass/screen.scss */
.preFret {
  display: inline-block;
  overflow: none;
}

/* line 157, ../sass/screen.scss */
.fretNum0 {
  width: 30px;
}

/* line 164, ../sass/screen.scss */
.fretNum1 {
  width: 8.88889%;
}

/* line 164, ../sass/screen.scss */
.fretNum2 {
  width: 8.39506%;
}

/* line 164, ../sass/screen.scss */
.fretNum3 {
  width: 7.92867%;
}

/* line 164, ../sass/screen.scss */
.fretNum4 {
  width: 7.48819%;
}

/* line 164, ../sass/screen.scss */
.fretNum5 {
  width: 7.07218%;
}

/* line 164, ../sass/screen.scss */
.fretNum6 {
  width: 6.67928%;
}

/* line 164, ../sass/screen.scss */
.fretNum7 {
  width: 6.30821%;
}

/* line 164, ../sass/screen.scss */
.fretNum8 {
  width: 5.95775%;
}

/* line 164, ../sass/screen.scss */
.fretNum9 {
  width: 5.62677%;
}

/* line 164, ../sass/screen.scss */
.fretNum10 {
  width: 5.31417%;
}

/* line 164, ../sass/screen.scss */
.fretNum11 {
  width: 5.01894%;
}

/* line 164, ../sass/screen.scss */
.fretNum12 {
  width: 4.74011%;
}

/* line 164, ../sass/screen.scss */
.fretNum13 {
  width: 4.47677%;
}

/* line 164, ../sass/screen.scss */
.fretNum14 {
  width: 4.22806%;
}

/* line 174, ../sass/screen.scss */
.borderString {
  /*same height as tr*/
  height: 18px;
  border-top: 2px, solid #bdc19d;
  margin-right: -3px;
}

/* line 180, ../sass/screen.scss */
.fretNum0 {
  border-right: 9px solid #e0e2c9;
}

/*------------------------------ BUTTON STYLING ------------------------------*/
/* line 186, ../sass/screen.scss */
nav ul {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: center;
}

/* line 193, ../sass/screen.scss */
form {
  display: inline-block;
}

/* line 195, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}

/* line 200, ../sass/screen.scss */
.customBtn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color: #768d87;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", Arial;
  font-size: 13px;
  padding: 3px 7px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  margin-top: 10px;
}

/* line 219, ../sass/screen.scss */
.customBtn:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color: #6c7c7c;
}

/* line 225, ../sass/screen.scss */
.customBtn:active {
  position: relative;
  top: 1px;
}

/*--------------------------------- SLIDER STYLE -----------------------------*/
/* line 230, ../sass/screen.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
  border-radius: 2px;
}

/* Hide default HTML checkbox */
/* line 239, ../sass/screen.scss */
.switch input {
  display: none;
}

/* The slider */
/* line 242, ../sass/screen.scss */
.sliderBox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 254, ../sass/screen.scss */
.sliderBox:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 266, ../sass/screen.scss */
input:checked + .sliderBox {
  background-color: #2196F3;
}

/* line 270, ../sass/screen.scss */
input:focus + .sliderBox {
  box-shadow: 0 0 1px #2196F3;
}

/* line 274, ../sass/screen.scss */
input:checked + .sliderBox:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* line 281, ../sass/screen.scss */
form {
  display: inline-block;
}

/* line 283, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}
