<section class="row" ng-controller="CagedController as caged">

  <div class="options row">
    <div class="col-md-2">
      <div><img src="../img/root.svg" alt="*" height="16" width="24" /> Root</div>
      <div><img src="../img/third.svg" alt="*" height="16" width="24" /> Third</div>
      <div><img src="../img/fifth.svg" alt="*" height="16" width="24" /> Fifth</div>
    </div>

    <form>
        <p>CAGED Chord to map:</p>
        <select ng-model="caged.cagedChord" ng-change="caged.newChord()">
          <option ng-selected="true" ng-disabled="true">Choose Chord</option>
          <option>C</option>
          <option>C#</option>
          <option>D</option>
          <option>D#</option>
          <option>E</option>
          <option>F</option>
          <option>F#</option>
          <option>G</option>
          <option>G#</option>
          <option>A</option>
          <option>A#</option>
          <option>B</option>
        </select>
    </form>
  </div>

  <div class="fretboardContainer col-xs-12">
    <div class="strings" ng-repeat="string in guitar.neck.strings | orderBy:'':true">
      <div class="fretRow">
        <div class="fret" ng-class="'fretNum' + fret.pos" ng-repeat="fret in guitar.neck.frets">

          <img src="../img/empty.svg" alt="*" class="marker" data-midi="{{string.base + fret.pos}}" height="16" width="24"/>

        </div>
      </div>
    </div>
  </div>

</section>
<!--

<div class="guitar-neck hidden-phone">
    <div class="guitar-fret" ng-class="fret.className()" ng-repeat="fret in frets">

        <div class="guitar-fret-note" ng-repeat="note in fret.notes().reverse()">
            <a  ng-class="note.className(tonic)"
                ng-click="toggleNote(note)"
                title="{{note.notation(tonic.signature()) + '/' + selectedMatch.tonic.interval(note).name()}}"
                ><div class="marker">{{note.simple(tonic.signature())}}</div></a>
        </div>
    </div>
    <div class="clearfix"></div>
</div> -->
