
<nav class="nav">
  <div class="row navMenu">
    <div class="col-md-4">
      <h3 class="siteName">GTR Tools</h3>
    </div>
    <div onclick="location.href='#caged';" class="btn sitePage col-md-4">
      <h3>CAGED Mapper</h3>
    </div>
    <div onclick="location.href='#triad';" class="btn sitePage col-md-4">
      <h3>Triad Tool</h3>
    </div>
    <!-- <div class="btn sitePage col-md-3">
      <h3>Text-Doc Chord Transposer</h3>
    </div> -->
  </div>
</nav>



<!-- <ul class="nav-pills">
  <form action="#home">
    <button type="submit">Home</button>
  </form>
  <form action="#warehouse">
    <button type="submit">Warehouse</button>
  </form>
  <form action="#customers">
    <button type="submit">Customers</button>
  </form>
  <form action="#orders">
    <button type="submit">Orders</button>
  </form>
</ul> -->
