<section class="row" ng-controller="TriadController as triad">




  <div class="options row">
    <div class="col-md-2">
      <div><img src="../img/root.svg" alt="*" height="16" width="24" /> Root</div>
      <div><img src="../img/third.svg" alt="*" height="16" width="24" /> Third</div>
      <div><img src="../img/fifth.svg" alt="*" height="16" width="24" /> Fifth</div>
      <div><img src="../img/alt.svg" alt="*" height="16" width="24" /> Other</div>
    </div>

    <div class="col-md-3">
      <form class="row">
        <select ng-model="triad.triadChord" ng-change="triad.newChord()">
          <option ng-selected="true" ng-disabled="true">Choose Chord</option>
          <option>C</option>
          <option>C#</option>
          <option>D</option>
          <option>D#</option>
          <option>E</option>
          <option>F</option>
          <option>F#</option>
          <option>G</option>
          <option>G#</option>
          <option>A</option>
          <option>A#</option>
          <option>B</option>
        </select>
      </form>
      <div class="row">
        <br>
        <p> Variation {{triad.triadIndex + 1}} of {{triad.variations}} </p>
        <button class="customBtn" type="submit" ng-click="triad.prevVar()">Previous</button>
        <button class="customBtn" type="submit" ng-click="triad.nextVar()">Next</button>
      </div>

    </div>
    <div class="col-md-2">
      <h4>Show Inversions:</h4>
      <ul ng-model="triad.allowedInversions">
        <li><input type="checkbox" ng-checked="triad.allowedInversions[0]" ng-click="triad.toggleInversion(0)"> Root</li>
        <li><input type="checkbox" ng-checked="triad.allowedInversions[1]" ng-click="triad.toggleInversion(1)"> First</li>
        <li><input type="checkbox" ng-checked="triad.allowedInversions[2]" ng-click="triad.toggleInversion(2)"> Second</li>
        <li><input type="checkbox" ng-checked="triad.allowedInversions[3]" ng-click="triad.toggleInversion(3)"> Third</li>
      </ul>
    </div>

    <div class="col-md-3">
      <select ng-options="chordSpan.span as chordSpan.span for chordSpan in triad.chordSpan.spans" ng-model="triad.chordSpan.selectedSpan.span"
      ng-change="triad.filter()">
      </select>
      Max Fret-Stretch
      <br /><br />
      <input type="checkbox" ng-click="triad.filter()" ng-model="triad.allowOpen">
      Allow open strings
      <br />
      <input type="checkbox" ng-click="triad.filter()" ng-model="triad.onlyClusters">
      Only show clusters
    </div>

  </div>

    <div class="fretboardContainer col-xs-11">
      <div id="sliderBar" class="noUi-target noUi-ltr noUi-horizontal"></div>
      <div class="strings" ng-repeat="string in guitar.neck.strings | orderBy:'':true">

        <div class="fretRow">
          <div class="preFret">

            <label class="switch" ng-model="triad.allowedStrings">
              <input type="checkbox" ng-checked="triad.allowedStrings[string.pos]" ng-click="triad.toggleString(string.pos)">
              <div class="slider"></div>
            </label>
          </div>

          <div class="fret" ng-class="'fretNum' + fret.pos" ng-repeat="fret in guitar.neck.frets">

            <img src="../img/empty.svg" alt="*" class="marker" data-stringfretmidi="[{{string.pos}}, {{fret.pos}}, {{string.base + fret.pos}}]"  height="16" width="24"/>

          </div>
        </div>
      </div>
    </div>


</section>
