
<section class="container">
  <div class="col-md-10 col-md-offset-1 top">
    <h2><b>GTR Tools</b></h2>
    <p>GTR Tools is a is a feature-packed web application wih many useful tools for aspiring guitarists and singer-songwriters. Initially developed to help guitarists better learn the many fingerings of basic three-note chords (triads), it has been expanded on to include more complex chords and scales. This app aims to provide tools that other online music tools do not, and as such, some understanding of basic theory may be beneficial to the user.</p>
  </div>
  <div class="row">
    <div class="secContainer col-md-3">
      <div class="siteSection">
        <h2><b>CAGED+ Mapper</b></h2>
        <p>The five most common movable major chord shapes that can be played anywhere on the fretboard are the C, A, G, E and D shapes. The CAGED+ mapper was designed to allow one to view the location and notes of these five shapes for a musical key of their choosing</p>
        <p>The tool has been expanded on to allow the viewing of full scales, including the seven musical modes as well as pentatonic scales.</p>
      </div>
    </div>
    <div class="secContainer col-md-6">
      <div class="siteSection">
        <h2><b>Triad+ Tool</b></h2>
        <p>The Triad+ tool will display variations of numerous ways to play a particular chord. Use the filters to narrow down the number of matching  variationsto help yourself discover new chord shapes. Key bindings are shown square brackets near their respective filters.</p>
        <br>
        <h4>Filters</h4>
        <ul>
          <li>Inversion fiter: View more formations containing non-tonic notes as the lowest note (inversions).</li>
          <li>Max Fret-Stretch: Set this to prevent the dispaly of chords having a span that exceeds your hand's ability to stretch</li>
          <li>Open Strings: Enable this to alllow chords containing open strings even if it exceets the Max Fret-Stretch</li>
          <li>Consecutive Strings: Disable to dispaly chrods that include one or more unused strings between the used strings</li>
          <li>Octave duplicates: Disable this to show variations with only the exact number of notes in the chord</li>
          <li>String Selectors: The clicking a blue string selector will prevent the dispaly of chords using that string.</li>
          <li>Fretboard Section: The double slider bar selects the area of the fretboard in which chords will be displayed.</li>
        </ul>
      </div>
    </div>
    <div class="secContainer col-md-3">
      <div class="siteSection">
      <h2><b>Text-Transposer</b></h2>
      <p>The Text Transposer is designed to identify chords in in text documents containing song lyrics and chords. Paste or type the text and chords ofr a song of your choice to use transpose buttons, changing the key of the song by one semi-tone at a time.
        <br><br>
      </p>
      <h4>Saving songs and uploading files</h4>
      <p>Log in with Google to save songs for later viewing using the Green "+". This also enables the upload of .txt files form your computer without needing to individually paste the documents to save them</p>
    </div>
  </div>
</div>

</section>
