<section>
  <div class="top row">

    <div class="col-md-6 name">
      <h5>
        Paste songs into form below and transpose with buttons on left. <br />
        To save documents, login and use greeen "+" or upolad files from computer. <br / />
        Saved documents will appear on table to the right. Open saved documents by clicking.
      </h5>
    </div>

  <div class="col-md-3">
    <fieldset>
        <input  type="file" ng-files-model model="textFiles" callback="function" data="data" multiple="mulplite" />
        <input class="customBtn" ng-click="text.submit(textFiles, true)" type="submit"  value="Upload Files (Private)" />
        <input class="customBtn" ng-click="text.submit(textFiles, false)" type="submit"  value="Upload Files (Public)" />
    </fieldset>

  </div>
  <div class="logInOut">
    <button class="customBtn" ng-click="text.logIn()">Log In</button>
    <button class="customBtn" ng-click="text.logOut()">Log Out</button>
  </div>
</div>

<div class="row">

  <div class="col-md-8">
      <table id="songTable" cellspacing="0" >
        <thead>
          <tr>
            <th class="columnSort" id="nameCol" ng-click="text.sortType = 'date_added'; text.sortReverse = !text.sortReverse">Song
            </th>
            <th class="columnSort" id= "dateCol" ng-click="text.sortType = 'title'; text.sortReverse = !text.sortReverse">Added
            </th>
            <th id="lockedCol"></th>

            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr data-id="{{song._id}}" data-ng-repeat="song in text.songList | orderBy:text.sortType:text.sortReverse | filter: query |  startFrom:text.currentPage*text.pageSize | limitTo:text.pageSize">
            <td class="song-name" ng-click="text.getSong(song._id)">{{song.title}}</td>
            <td ng-click="text.getSong(song._id)">{{song.date_added}}</td>
            <td>
              <img class="lock" ng-hide="song.private" src="./img/locked.png" alt="X" />
              <img class="lock" ng-show="song.private" src="./img/unlocked.png" alt="X" />
            </td>
            <td ng-click="text.deleteSong(song._id)"><img class="del" src="./img/delete.png" alt="X" /></td>
          </tr>
        </tbody>
      </table>
      <div class="row centered" ng-show="text.totalPages((text.songList | filter: query).length)">
        <button class="customBtn" ng-disabled="text.currentPage == 0" ng-click="text.currentPage=text.currentPage-1">
          Previous
        </button>
          {{text.currentPage+1}}/{{text.totalPages((text.songList  | filter: query).length)}}
        <button class="customBtn" ng-disabled="text.currentPage >= ((text.songList  | filter: query).length / text.pageSize - 1)" ng-click="text.currentPage=text.currentPage+1">
          Next
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <br>Search Songs: </br>
      <input ng-model="query" ng-change="text.pageCheck(text.songList | filter: query)"/>
      <div class="errors-spacer"></div>
      <span id="songSearchResults">Results: {{(text.songList | filter: query).length}} </span>
    </div>
  </div>
  <!-- <div class="row textContainer">
    <input type="text" id="songName" class="col-md-10 col-md-offset-1" ng-model="text.title" placeholder="Title - Artist">
    <div class="col-md-1 addHolder">
      <img ng-click="text.submit([{name:text.title, file:text.songText}], false)" src="./img/save.png" alt="add" />
    </div>
    <textarea ng-model="text.songText" class="col-md-12" id="source" rows="30" cols="160"></textarea>
  </div> -->


</section>
