/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/*----------------------------- GENERAL STYLING ------------------------------*/
/* line 26, ../sass/screen.scss */
body {
  background-color: #c6d5c8;
  font-family: "Roboto", Times, Helvetica;
  letter-spacing: 1px;
  min-width: 900px;
}

/* line 33, ../sass/screen.scss */
.siteSection {
  border-radius: 10px;
  padding: 3px;
  border: solid black 4px;
  padding: 10px;
  background-color: #69442d;
  color: #e9b576;
}

/* line 42, ../sass/screen.scss */
.secContainer {
  padding-top: 15px;
}

/* line 46, ../sass/screen.scss */
ul {
  list-style-type: square;
}

/* line 49, ../sass/screen.scss */
li {
  margin-left: 15px;
}

/* line 52, ../sass/screen.scss */
.footer {
  padding-top: 20px;
}

/*----------------------------- NAV STYLING------------------------------*/
/* line 58, ../sass/screen.scss */
h2 {
  font-size: 17pt;
  margin-bottom: 10px;
}

/* line 62, ../sass/screen.scss */
h4 {
  font-size: 13pt;
  margin-bottom: 5px;
}

/* line 66, ../sass/screen.scss */
.sitePage > h2 {
  text-align: center;
  margin-top: 10px;
}

/* line 70, ../sass/screen.scss */
.navMenu {
  border-bottom: 6px solid black;
  background-color: #3f3120;
  color: #e9b576;
}

/* line 77, ../sass/screen.scss */
.sitePage:hover {
  background-color: #69442d;
  color: #e9b576;
  border-left: 6px solid black;
  border-right: 6px solid black;
  cursor: pointer;
  text-align: center;
}

/* line 86, ../sass/screen.scss */
.sitePage {
  margin-right: -2px;
  margin-left: -2px;
}

/* line 90, ../sass/screen.scss */
#siteName > h2 {
  font-weight: 700;
  font-size: 18pt;
  margin: 9px;
  letter-spacing: 2px;
}

/* line 97, ../sass/screen.scss */
#siteName {
  border-right: solid black 6px;
  margin-right: -4px;
  background-color: #69442d;
}

/*------------------------------ CAGED OPTIONS STYLING -------------------------------*/
/* line 104, ../sass/screen.scss */
.options {
  margin: 25px;
}

/* line 107, ../sass/screen.scss */
.select {
  margin-top: 10px;
}

/* line 110, ../sass/screen.scss */
.markerMap {
  position: absolute;
  bottom: 3px;
  left: 0;
}

/* line 115, ../sass/screen.scss */
.inversions {
  list-style-type: none;
}

/*------------------------------ FRETBOARD STYLING -------------------------------*/
/* line 121, ../sass/screen.scss */
#nonlinear {
  margin-top: -55px;
  margin-bottom: 40px;
  top: 10px;
  left: 4%;
  width: 94%;
}

/* line 129, ../sass/screen.scss */
.fretboardContainer {
  margin: 15px;
  padding: 17px 20px 0 0;
  background-image: url("../img/neck.png");
  background-repeat: no-repeat;
  background-position: left 15px;
  background-size: 97.5% 85%;
  display: inline-block;
}

/* line 139, ../sass/screen.scss */
.strings {
  padding-top: 3px;
  /*width: 100%;*/
  height: 25px;
  z-index: 1000;
}

/* line 146, ../sass/screen.scss */
.fretRow {
  margin-top: -8px;
  margin-bottom: 8px;
  white-space: nowrap;
}

/* line 152, ../sass/screen.scss */
.markerContainer {
  position: relative;
  width: 30px;
}

/* line 156, ../sass/screen.scss */
.markerMap {
  position: absolute;
  bottom: 3px;
  left: 0;
}

/* line 161, ../sass/screen.scss */
.horizMarker {
  display: inline-block;
}

/* line 164, ../sass/screen.scss */
.fret {
  display: inline-block;
  min-width: 19px;
  z-index: -1;
  text-align: right;
  padding: 0;
}

/* line 171, ../sass/screen.scss */
.preFret {
  display: inline-block;
  overflow: none;
}

/* line 178, ../sass/screen.scss */
.fretNum0 {
  width: 20px;
}

/* line 185, ../sass/screen.scss */
.fretNum1 {
  width: 8.79744%;
}

/* line 185, ../sass/screen.scss */
.fretNum2 {
  width: 8.33997%;
}

/* line 185, ../sass/screen.scss */
.fretNum3 {
  width: 7.90629%;
}

/* line 185, ../sass/screen.scss */
.fretNum4 {
  width: 7.49517%;
}

/* line 185, ../sass/screen.scss */
.fretNum5 {
  width: 7.10542%;
}

/* line 185, ../sass/screen.scss */
.fretNum6 {
  width: 6.73594%;
}

/* line 185, ../sass/screen.scss */
.fretNum7 {
  width: 6.38567%;
}

/* line 185, ../sass/screen.scss */
.fretNum8 {
  width: 6.05361%;
}

/* line 185, ../sass/screen.scss */
.fretNum9 {
  width: 5.73883%;
}

/* line 185, ../sass/screen.scss */
.fretNum10 {
  width: 5.44041%;
}

/* line 185, ../sass/screen.scss */
.fretNum11 {
  width: 5.15751%;
}

/* line 185, ../sass/screen.scss */
.fretNum12 {
  width: 4.88932%;
}

/* line 185, ../sass/screen.scss */
.fretNum13 {
  width: 4.63507%;
}

/* line 185, ../sass/screen.scss */
.fretNum14 {
  width: 4.39405%;
}

/* line 185, ../sass/screen.scss */
.fretNum15 {
  width: 4.16556%;
}

/* line 191, ../sass/screen.scss */
.borderString {
  height: 18px;
  padding-top: 2px;
  border-top: 2px, solid #bdc19d;
  margin-right: -3px;
}

/*------------------------------ BUTTON STYLING ------------------------------*/
/* line 201, ../sass/screen.scss */
nav ul {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: center;
}

/* line 208, ../sass/screen.scss */
form {
  display: inline-block;
}

/* line 210, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}

/* line 215, ../sass/screen.scss */
.customBtn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color: #768d87;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", Arial;
  font-size: 13px;
  padding: 3px 7px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  margin-top: 10px;
}

/* line 234, ../sass/screen.scss */
.customBtn:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color: #6c7c7c;
}

/* line 240, ../sass/screen.scss */
.customBtn:active {
  position: relative;
  top: 1px;
}

/* line 244, ../sass/screen.scss */
td {
  font-size: 1.2em;
}

/*--------------------------------- TRANSPOSER STYLE -----------------------------*/
/* line 249, ../sass/screen.scss */
fieldset {
  margin-top: 10px;
}

/* line 252, ../sass/screen.scss */
#source, #songName {
  font-family: "Courier New", courier;
  border: none;
}

/* line 256, ../sass/screen.scss */
#source {
  font-size: 1.2em;
  margin-bottom: 10px;
  width: 98%;
}

/* line 261, ../sass/screen.scss */
#songList {
  position: relative;
}

/* line 264, ../sass/screen.scss */
.name {
  padding-top: 30px;
}

/* line 267, ../sass/screen.scss */
.textContainer {
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px solid black;
}

/* line 272, ../sass/screen.scss */
.addHolder {
  padding-left: 10px;
  padding-top: 8px;
}

/* line 276, ../sass/screen.scss */
#songName {
  font-size: 1.6em;
  text-align: center;
  margin-top: 12px;
  border-radius: 10px;
}

/* line 282, ../sass/screen.scss */
.top {
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
}

/* line 287, ../sass/screen.scss */
.del {
  height: 20px;
}

/* line 290, ../sass/screen.scss */
#songList > tbody > tr > td {
  font-size: 1em;
  padding: 3px;
}

/* line 294, ../sass/screen.scss */
img:hover {
  cursor: pointer;
}

/*--------------------------------- SONG TABLE STYLE -----------------------------*/
/* line 298, ../sass/screen.scss */
#headerRow th {
  text-align: center;
  font-size: 3em;
}

/* line 303, ../sass/screen.scss */
.scrollingtable {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  /*min-width: 70%;*/
  height: 400px;
  /*set table height here; can be fixed value or %*/
  /*min-height: 104px;*/
  /*if using % height, make this at least large enough to fit scrollbar arrows + captions + thead*/
  font-size: 12px;
  padding-top: 15px;
  /*this determines top caption height*/
  padding-bottom: 40px;
  /*this determines bottom caption height*/
  text-align: left;
}

/* line 316, ../sass/screen.scss */
.scrollingtable * {
  box-sizing: border-box;
  color: #e9b576;
}

/* line 320, ../sass/screen.scss */
.scrollingtable > div {
  background-color: #3f3120;
  position: relative;
  border-top: 0px solid black;
  /*top table border*/
  height: 100%;
  padding: 4px;
  border-radius: 20px;
  padding-top: 40px;
  overflow: hidden;
  /*this determines column header height*/
}

/* line 331, ../sass/screen.scss */
.scrollingtable > div:before {
  top: 0;
}

/* line 334, ../sass/screen.scss */
.scrollingtable > div:before,
.scrollingtable > div > div:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50%;
  left: 0;
}
.columnSort:hover, .song-name:hover {
  cursor: pointer;
}

/* line 343, ../sass/screen.scss */
.scrollingtable > div > div {
  /*min-height: 43px;*/
  /*if using % height, make this at least large enough to fit scrollbar arrows*/
  max-height: 100%;
  overflow: auto;
  /*set to auto if using fixed or % width; else scroll*/
  overflow-x: hidden;
  border-top: 2px solid #e9b576;
  /*border around table body*/
}

/* line 350, ../sass/screen.scss */
.scrollingtable > div > div:after {
  background: #3f3120;
}

/*match page background color*/
/* line 351, ../sass/screen.scss */
.scrollingtable > div > div > table {
  width: 100%;
  border-spacing: 0;
  margin-top: -40px;
  /*inverse of column header height*/
  /*margin-right: 17px;*/
  /*uncomment if using % width*/
}

/* line 357, ../sass/screen.scss */
.scrollingtable > div > div > table > * > tr > * {
  padding: 0;
}

/* line 358, ../sass/screen.scss */
.scrollingtable > div > div > table > thead {
  vertical-align: bottom;
  white-space: nowrap;
  text-align: center;
}

/* line 364, ../sass/screen.scss */
.scrollingtable > div > div > table > thead > tr > * > div {
  display: inline-block;
  padding: 0 6px 0 6px;
  /*header cell padding*/
}

/* line 368, ../sass/screen.scss */
.scrollingtable > div > div > table > thead > tr > :first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  /*match column header height*/
  border-left: 0px solid black;
  /*leftmost header border*/
}

/* line 376, ../sass/screen.scss */
.scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.scrollingtable > div > div > table > thead > tr > * > div > div:first-child,
.scrollingtable > div > div > table > thead > tr > * + :before {
  position: absolute;
  top: 0;
  white-space: pre-wrap;
  font-size: 24px;
}

/* line 384, ../sass/screen.scss */
.scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.scrollingtable > div > div > table > thead > tr > * > div[label]:after {
  content: attr(label);
}

/* line 386, ../sass/screen.scss */
.scrollingtable > div > div > table > thead > tr > * + :before {
  content: "";
  display: block;
  min-height: 20px;
  /*match column header height*/
  padding-top: 1px;
  border-left: 0px solid black;
  /*borders between header cells*/
  border-right: opx;
}

/* line 395, ../sass/screen.scss */
.scrollingtable .scrollbarhead {
  float: right;
}

/* line 396, ../sass/screen.scss */
.scrollingtable .scrollbarhead:before {
  position: absolute;
  width: 100px;
  top: -3px;
  /*inverse border-width*/
  border-top: 0;
  border-left: none;
}

/* line 403, ../sass/screen.scss */
.scrollingtable > div > div > table > tbody > tr:after {
  content: "";
  display: table-cell;
  position: relative;
  padding: 0;
  border-top: 3px solid black;
  top: -1px;
  /*inverse of border width*/
}

/* line 411, ../sass/screen.scss */
.scrollingtable > div > div > table > tbody {
  vertical-align: top;
}

/* line 412, ../sass/screen.scss */
.scrollingtable > div > div > table > tbody > tr {
  background: #69442d;
}

/* line 413, ../sass/screen.scss */
.scrollingtable > div > div > table > tbody > tr > * {
  border-bottom: 1px solid black;
  padding: 0 6px 0 6px;
  height: 20px;
  /*match column header height*/
}

/* line 418, ../sass/screen.scss */
.scrollingtable > div > div > table > tbody:last-of-type > tr:last-child > * {
  border-bottom: none;
}

/* line 419, ../sass/screen.scss */
.scrollingtable > div > div > table > tbody > tr:nth-child(even) {
  background: #3f3120;
}

/*alternate row color*/
/* line 420, ../sass/screen.scss */
.scrollingtable > div > div > table > tbody > tr > * + * {
  border-left: 1px solid black;
}

/*borders between body cells*/
/*--------------------------------- SLIDER STYLE -----------------------------*/
/* line 424, ../sass/screen.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
  border-radius: 2px;
}

/* Hide default HTML checkbox */
/* line 433, ../sass/screen.scss */
.switch input {
  display: none;
}

/* The slider */
/* line 436, ../sass/screen.scss */
.sliderBox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 448, ../sass/screen.scss */
.sliderBox:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 460, ../sass/screen.scss */
input:checked + .sliderBox {
  background-color: #2196F3;
}

/* line 464, ../sass/screen.scss */
input:focus + .sliderBox {
  box-shadow: 0 0 1px #2196F3;
}

/* line 468, ../sass/screen.scss */
input:checked + .sliderBox:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* line 475, ../sass/screen.scss */
form {
  display: inline-block;
}

/* line 477, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}
