/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/*----------------------------- GENERAL STYLING ------------------------------*/
/* line 26, ../sass/screen.scss */
body {
  background-color: #c6d5c8;
  font-family: "Roboto", Times, Helvetica;
  letter-spacing: 1px;
}

/* line 31, ../sass/screen.scss */
ul {
  list-style: none;
}

/*----------------------------- NAV STYLING------------------------------*/
/* line 36, ../sass/screen.scss */
h2 {
  font-size: 17pt;
  margin-bottom: 10px;
}

/* line 40, ../sass/screen.scss */
h4 {
  font-size: 13pt;
  margin-bottom: 5px;
}

/* line 44, ../sass/screen.scss */
.sitePage > h2 {
  text-align: center;
  margin-top: 10px;
}

/* line 48, ../sass/screen.scss */
.navMenu {
  border-bottom: 6px solid black;
  background-color: #3f3120;
  color: #e9b576;
}

/* line 55, ../sass/screen.scss */
.sitePage:hover {
  background-color: #69442d;
  color: #e9b576;
  border-left: 6px solid black;
  border-right: 6px solid black;
  cursor: pointer;
  text-align: center;
}

/* line 64, ../sass/screen.scss */
.sitePage {
  margin-right: -2px;
  margin-left: -2px;
}

/* line 68, ../sass/screen.scss */
#siteName > h2 {
  font-weight: 700;
  font-size: 18pt;
  margin: 9px;
  letter-spacing: 2px;
}

/* line 75, ../sass/screen.scss */
#siteName {
  border-right: solid black 6px;
  margin-right: -4px;
  background-color: #69442d;
}

/*------------------------------ CAGED OPTIONS STYLING -------------------------------*/
/* line 83, ../sass/screen.scss */
.options {
  margin: 25px;
}

/* line 86, ../sass/screen.scss */
.select {
  margin-top: 10px;
}

/*------------------------------ FRETBOARD STYLING -------------------------------*/
/* line 95, ../sass/screen.scss */
#nonlinear {
  margin-top: -55px;
  margin-bottom: 40px;
  top: 10px;
  left: 4%;
  width: 94%;
}

/* line 103, ../sass/screen.scss */
.fretboardContainer {
  margin: 15px;
  padding: 17px 20px 0 0;
  background-image: url("../img/neck.png");
  background-repeat: no-repeat;
  background-position: left 15px;
  background-size: 97.5% 85%;
  display: inline-block;
  /*max-width: 1200px;*/
  /*align-self: center;*/
}

/* line 116, ../sass/screen.scss */
.strings {
  padding-top: 3px;
  /*width: 100%;*/
  height: 25px;
  z-index: 1000;
}

/* line 123, ../sass/screen.scss */
.fretRow {
  /*display: flex;
  text-align: justify;
  justify-content: space-between;*/
  margin-top: -8px;
  margin-bottom: 8px;
  white-space: nowrap;
}

/* line 131, ../sass/screen.scss */
.markerContainer {
  position: relative;
  width: 30px;
}

/* line 135, ../sass/screen.scss */
.markerMap {
  position: absolute;
  bottom: 3px;
  left: 0;
}

/* line 140, ../sass/screen.scss */
.horizMarker {
  display: inline-block;
}

/* line 152, ../sass/screen.scss */
.fret {
  /*margin-bottom: -50%;*/
  display: inline-block;
  min-width: 19px;
  z-index: -1;
  text-align: right;
  padding: 0;
}

/* line 161, ../sass/screen.scss */
.preFret {
  display: inline-block;
  overflow: none;
}

/* line 167, ../sass/screen.scss */
.fretNum0 {
  width: 20px;
}

/* line 175, ../sass/screen.scss */
.fretNum1 {
  width: 8.79744%;
}

/* line 175, ../sass/screen.scss */
.fretNum2 {
  width: 8.33997%;
}

/* line 175, ../sass/screen.scss */
.fretNum3 {
  width: 7.90629%;
}

/* line 175, ../sass/screen.scss */
.fretNum4 {
  width: 7.49517%;
}

/* line 175, ../sass/screen.scss */
.fretNum5 {
  width: 7.10542%;
}

/* line 175, ../sass/screen.scss */
.fretNum6 {
  width: 6.73594%;
}

/* line 175, ../sass/screen.scss */
.fretNum7 {
  width: 6.38567%;
}

/* line 175, ../sass/screen.scss */
.fretNum8 {
  width: 6.05361%;
}

/* line 175, ../sass/screen.scss */
.fretNum9 {
  width: 5.73883%;
}

/* line 175, ../sass/screen.scss */
.fretNum10 {
  width: 5.44041%;
}

/* line 175, ../sass/screen.scss */
.fretNum11 {
  width: 5.15751%;
}

/* line 175, ../sass/screen.scss */
.fretNum12 {
  width: 4.88932%;
}

/* line 175, ../sass/screen.scss */
.fretNum13 {
  width: 4.63507%;
}

/* line 175, ../sass/screen.scss */
.fretNum14 {
  width: 4.39405%;
}

/* line 175, ../sass/screen.scss */
.fretNum15 {
  width: 4.16556%;
}

/* line 182, ../sass/screen.scss */
.borderString {
  /*same height as tr*/
  height: 18px;
  padding-top: 2px;
  border-top: 2px, solid #bdc19d;
  margin-right: -3px;
}

/* line 189, ../sass/screen.scss */
.fretNum0 {
  border-right: 9px solid #e0e2c9;
}

/*------------------------------ BUTTON STYLING ------------------------------*/
/* line 195, ../sass/screen.scss */
nav ul {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: center;
}

/* line 202, ../sass/screen.scss */
form {
  display: inline-block;
}

/* line 204, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}

/* line 209, ../sass/screen.scss */
.customBtn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color: #768d87;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", Arial;
  font-size: 13px;
  padding: 3px 7px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  margin-top: 10px;
}

/* line 228, ../sass/screen.scss */
.customBtn:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color: #6c7c7c;
}

/* line 234, ../sass/screen.scss */
.customBtn:active {
  position: relative;
  top: 1px;
}

/* line 238, ../sass/screen.scss */
td {
  font-size: 1.2em;
}

/*--------------------------------- TRANSPOSER STYLE -----------------------------*/
/* line 243, ../sass/screen.scss */
#source {
  font-family: "Courier New", courier;
}

/* line 246, ../sass/screen.scss */
textarea {
  margin-top: 22px;
  border-radius: 16px;
}

/*--------------------------------- SLIDER STYLE -----------------------------*/
/* line 253, ../sass/screen.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
  border-radius: 2px;
}

/* Hide default HTML checkbox */
/* line 262, ../sass/screen.scss */
.switch input {
  display: none;
}

/* The slider */
/* line 265, ../sass/screen.scss */
.sliderBox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 277, ../sass/screen.scss */
.sliderBox:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 289, ../sass/screen.scss */
input:checked + .sliderBox {
  background-color: #2196F3;
}

/* line 293, ../sass/screen.scss */
input:focus + .sliderBox {
  box-shadow: 0 0 1px #2196F3;
}

/* line 297, ../sass/screen.scss */
input:checked + .sliderBox:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* line 304, ../sass/screen.scss */
form {
  display: inline-block;
}

/* line 306, ../sass/screen.scss */
.buttons {
  align-content: center;
  text-align: center;
}
